* {
    font-family: 'Bree Serif', serif;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.fa-spin.fa-spinner {
    display: none;
}

.loading .fa-spin.fa-spinner {
    display: inline-block;
}

#find-places {
    font-family: font-family : 'Bree Serif', serif !important;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

#map {
    width: 100% !important;
    height: 100% !important;
}

#pagetwo, .ui-content {
    width: 100%;
    height: 100%;
}

#page-header {
    font-size: 20px;
}

#pagetwo .ui-content {
    padding: 0 !important;
}

.map-description {
    overflow: hidden;
    line-height: 1.35;
    overflow: hidden;
    white-space: nowrap;
}